<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="first_name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Patient_form_edit" 
        service="Patient" 
        entity="Patient" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #first_name attr="first_name" label=" first_name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #last_name attr="last_name" label="last_name" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #date_of_birth attr="date_of_birth" type="date" label="date_of_birth" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-text-input #phone_number attr="phone_number" label="phone_number" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="APPOINTMENT-patient_id">
    <div layout-padding>
      <o-table 
        attr="AppointmentTable" 
        service="Appointment" 
        entity="Appointment" 
        keys="id"
        parent-keys="patient_id:id"
        columns="id;dentist_id;patient_id;appointment_datetime;notes"  
        horizontal-scroll="yes"
        detail-form-route="Appointment" 
        edit-form-route="Appointment"
        visible-columns="id;dentist_id;patient_id;appointment_datetime;notes"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="dentist_id" title="dentist_id">
    <o-table-cell-renderer-service attr="dentist_id" 
        service="Dentist" entity="DentistType" columns="id;first_name"
        parent-keys="id:dentist_id"
        value-column="first_name" keys="dentist_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="patient_id" title="patient_id">
    <o-table-cell-renderer-service attr="patient_id" 
        service="Patient" entity="PatientType" columns="id;first_name"
        parent-keys="id:patient_id"
        value-column="first_name" keys="patient_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #appointment_datetime attr="appointment_datetime" type="date" label="appointment_datetime" enabled="yes" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-table-column #notes attr="notes" title="notes" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="PATIENTINSURANCE-patient_id">
    <div layout-padding>
      <o-table 
        attr="PatientInsuranceTable" 
        service="PatientInsurance" 
        entity="PatientInsurance" 
        keys="id"
        parent-keys="patient_id:id"
        columns="id;insurance_id;patient_id;policy_number"  
        horizontal-scroll="yes"
        detail-form-route="PatientInsurance" 
        edit-form-route="PatientInsurance"
        visible-columns="id;insurance_id;patient_id;policy_number"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="insurance_id" title="insurance_id">
    <o-table-cell-renderer-service attr="insurance_id" 
        service="Insurance" entity="InsuranceType" columns="id;name"
        parent-keys="id:insurance_id"
        value-column="name" keys="insurance_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="patient_id" title="patient_id">
    <o-table-cell-renderer-service attr="patient_id" 
        service="Patient" entity="PatientType" columns="id;first_name"
        parent-keys="id:patient_id"
        value-column="first_name" keys="patient_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #policy_number attr="policy_number" title="policy_number" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="PRESCRIPTION-patient_id">
    <div layout-padding>
      <o-table 
        attr="PrescriptionTable" 
        service="Prescription" 
        entity="Prescription" 
        keys="id"
        parent-keys="patient_id:id"
        columns="medicine_name;patient_id;dosage;prescribed_date;id"  
        horizontal-scroll="yes"
        detail-form-route="Prescription" 
        edit-form-route="Prescription"
        visible-columns="medicine_name;patient_id;dosage;prescribed_date;id"  
        sort-columns="medicine_name" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #medicine_name attr="medicine_name" title=" medicine_name*" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="patient_id" title="patient_id">
    <o-table-cell-renderer-service attr="patient_id" 
        service="Patient" entity="PatientType" columns="id;first_name"
        parent-keys="id:patient_id"
        value-column="first_name" keys="patient_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #dosage attr="dosage" title="dosage" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-date-input #prescribed_date attr="prescribed_date" type="timestamp" label="prescribed_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>